.banner>img {
    position: relative;
    top: 10px;
    left: 10px;
    width: 100%;
}

.logo {
    position: absolute;
    left: 100px;
    top: 45px;
    border: 5px solid #af1caf5d;
    padding: 20px;
    margin: 0px;

}

.logo>p {
    letter-spacing: 20px;
    font-weight: 700;
    color: rgba(53, 82, 64, 0.863);
    font-size: 350%;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 228, 196, 0.342);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.logo1 {
    position: absolute;
    right: 200px;
    top: 100px;
}

.col-1-2 {
    width: 20%;
}

.col-2-2 {
    width: 50%;
}
.col-1-2,
.col-2-2 {
    /* width: 45%; */
    float: left;
    /* display: inline-block; */
    border: 2px solid red;
    margin: 1%;

}
div.col-2-2 p{
    font-size: 24px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    letter-spacing: 0.01em;
    text-align: justify;
}
